<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="PermissionDBContext" connectionString="Data Source=.;Initial Catalog=p;User ID=sa;Password=sa;Trusted_Connection=False;Persist Security Info=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
