@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@FormsAuthentication.GetAuthCookie(FormsAuthentication.FormsCookieName, false).Value
<h2>Index</h2>
@Html.ActionLink("Login", "Login", "Account")
@Html.ActionLink("MyPage", "MyPage", "Home")

<div>

    <input type="button" id="btnTestAsync" value="Test Async" />
</div>

<script>
    $(document).ready(function () {
        $("#btnTestAsync").die().live("click", function () {
            $.get("/Account/Stuff", function (data) {
                console.log(data);
            });
        })
    })

</script>
