<?xml version="1.0"?>


<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
    <connectionStrings>
      <add name="NorthwindConnectionString" connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Northwind.mdf;Integrated Security=True;User Instance=True"
        providerName="System.Data.SqlClient" />
    </connectionStrings>
	<appSettings>
		<!-- Intersoft Control Resources-->
		<add key="ISNet.WebUI.ISRes_Registered" value="true"/>
	</appSettings>
	<system.web>
		<compilation debug="true" targetFramework="4.5">
			<assemblies>
				<add assembly="ISNet.ActiveReports.Exporting, Version=5.0.7200.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A"/>
				<add assembly="ISNet, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A"/>
				<add assembly="ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A"/>
				<add assembly="ISNet.WebUI.ISDataSource, Version=1.0.1500.1, Culture=neutral, PublicKeyToken=C4184EF0D326354B"/>
				<add assembly="ISNet.WebUI.Silverlight, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=B1F2A8511635667A"/>
			</assemblies>
		</compilation>
		<httpHandlers>
			<!-- Intersoft Control Resources-->
			<add path="ISRes.axd" verb="GET" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" validate="true"/>
			<!-- Intersoft WebGrid Chart-->
			<add path="ISChart.axd" verb="GET" type="ISNet.WebUI.WebGrid.Chart.ChartRequestHandler, ISNet.WebUI.WebGrid" validate="true"/>
			<!-- Intersoft WebFileUploader-->
			<add path="WebFileUploaderHttpHandler.axd" verb="GET" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpHandler, ISNet.WebUI.WebTextEditor"/>
			<!-- Intersoft WebScheduler-->
			<add path="ISScheduler.axd" verb="GET" type="ISNet.WebUI.WebScheduler.WebSchedulerRequestHandler, ISNet.WebUI.WebScheduler" validate="true"/>
		    <!-- Intersoft WebAqua-->
		    <add path="ISCoverFlow.axd" verb="GET" type="ISNet.WebUI.Silverlight.WebAqua.WebCoverFlowRequestHandler, ISNet.WebUI.Silverlight.WebAqua" validate="true"/>
		</httpHandlers>
		<httpModules>
			<!-- Intersoft WebFileUploader-->
			<add name="WebFileUploaderHttpModule" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpModule, ISNet.WebUI.WebTextEditor"/>
		</httpModules>
		<pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
	</system.web>
	<system.webServer>
	<handlers>
		<add name="ISCoverFlow.axd_GET" path="ISCoverFlow.axd" verb="GET" type="ISNet.WebUI.Silverlight.WebAqua.WebCoverFlowRequestHandler, ISNet.WebUI.Silverlight.WebAqua" preCondition="integratedMode"/>
		<add name="ISChart.axd_GET, POST" path="ISChart.axd" verb="GET, POST" type="ISNet.WebUI.WebGrid.Chart.ChartRequestHandler, ISNet.WebUI.WebGrid" preCondition="integratedMode"/>
		<add name="ISRes.axd_GET" path="ISRes.axd" verb="GET" type="ISNet.WebUI.WebResourceHandler, ISNet.WebUI, Version=3.0.5000.1, Culture=neutral, PublicKeyToken=b1f2a8511635667a" preCondition="integratedMode"/>
		<add name="WebFileUploaderHttpHandler.axd_GET" path="WebFileUploaderHttpHandler.axd" verb="GET" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpHandler, ISNet.WebUI.WebTextEditor" preCondition="integratedMode"/>
		<add name="ISScheduler.axd_GET" path="ISScheduler.axd" verb="GET" type="ISNet.WebUI.WebScheduler.WebSchedulerRequestHandler, ISNet.WebUI.WebScheduler" preCondition="integratedMode"/>
    </handlers>
	<modules>
      <add name="WebFileUploaderHttpModule_GET" preCondition="managedHandler" type="ISNet.WebUI.WebTextEditor.WebFileUploaderHttpModule, ISNet.WebUI.WebTextEditor" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
  </system.webServer>


</configuration>
