@{
    ViewBag.Title = "About";
}

<hgroup class="title">
    <h1>重要提示：</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>

<article>

    <p>
        预计开放时间为：@ViewBag.OpenTime
    </p>

    <p>
        给您带来的不便敬请谅解，如有紧急需要，请联系管理员。
    </p>
</article>
