@{    
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<input type="text" id="tbIncidentKey" /><input type="button" id="btnSearchIncident" value="查询" />

<input type="text" id="tbIncidentEntity" aria-multiline="true" style="width: 300px; height: 200px" /><input type="button" id="btnUpdateIncident" value="更新" />

<div id="divIncidentContainer"></div>

<script>
    $(document).ready(function () {
        var url = "/api/TrackApi/";
        var container = $("#divIncidentContainer");
        $("#btnSearchIncident").die().live("click", function () {
            var key = $("#tbIncidentKey").val();
            $.ajax({
                async: false,
                url: url + "",
                type: "GET",
                data: { key: key },
                dataType: 'jsonp',
                success: function (data) {
                    $(container).text(JSON.stringify(data));
                },
                error: function () {
                    alert('fail');
                }
            });
        });
    })

</script>
