<div class="row">
    <div class="span4">
        <h2><a href="/u/<%= posts.user %>"><%= posts.user %></a> 说</h2>

        <p>
            <small><%= posts.time.toLocaleDateString() %></small>
        </p>
        <p><%= posts.post %></p>
    </div>
</div>