<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IServiceCustomer">
          <security mode="None" />
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://127.0.0.1:9998/Services/IServiceCustomer"
          binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceCustomer"
          contract="ServiceCustomer.IServiceCustomer" name="WSHttpBinding_IServiceCustomer" />
    </client>
  </system.serviceModel>
  <!--
  <system.serviceModel>
    <client>
      <endpoint address="http://localhost:9999/DemoServices" binding="basicHttpBinding"
          bindingConfiguration="" contract="WinStudio.WcfAutofac.Services.IServiceCustomer"
          name="scustomer" kind="" endpointConfiguration="">
        <identity>
          <certificateReference storeName="My" storeLocation="LocalMachine"
              x509FindType="FindBySubjectDistinguishedName" />
        </identity>
      </endpoint>
    </client>
    <services>
      <service name="WinStudio.WcfAutofac.Services.ServiceCustomer" behaviorConfiguration="metadataCustomerBehavior">
        <endpoint address="http://localhost:9999/Services/Customer" binding="basicHttpBinding"
            bindingConfiguration="" name="DemoCustomerService" contract="WinStudio.WcfAutofac.Services.IServiceCustomer" />
      </service>
      <service name="WinStudio.WcfAutofac.Services.ServiceFactory" behaviorConfiguration="metadataFactoryBehavior">
        <endpoint address="http://localhost:9999/Services/Factory" binding="basicHttpBinding"
            bindingConfiguration="" name="DemoFactoryService" contract="WinStudio.WcfAutofac.Services.IServiceFactory" />
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataCustomerBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9999/Services/Customer/metadata"/>
        </behavior>
        <behavior name="metadataFactoryBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://localhost:9999/Services/Factory/metadata"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>
  -->
</configuration>