<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <wsHttpBinding>
                <binding name="WSHttpBinding_IServiceCustomer">
                    <security mode="None" />
                </binding>
            </wsHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://127.0.0.1:9998/Services/IServiceCustomer"
                binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IServiceCustomer"
                contract="ServiceCustomer.IServiceCustomer" name="WSHttpBinding_IServiceCustomer" />
        </client>
    </system.serviceModel>
</configuration>